<div class="container mt-5">
  <h3>Adding a <%= challenge.tier %> Tier challenge for <%= player.username %></h3><br>
  <p><b><%= challenge.name %></b>: <%= challenge.description %></p>
  <form action="" method="post" enctype="multipart/form-data">
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label id="runs-for-challenges" class="control-label">In which run did you complete the challenge?</label>
        <select class="pick-run form-control" required name="runName">
          <option selected disabled>My completed runs</option>
          <% for(var i = 0; i < runs.length; i++){ %>
          <option><%= runs[i].run_name %></option>
          <% } %>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
