<div class="table-wrapper">
  <% if (players.length == 0) {%>
  <p class="text-center">
    No players found. <a href="/register">Click here to register!</a>
  </p>
  <% } else { %>
  <table class="table table-hover table-dark table-striped" id="leaderboard">
    <thead class="thead-info">
      <tr>
        <th scope="col" onclick="sortTable(0, 'leaderboard')" class="sortable">
          Rank
        </th>
        <th scope="col">Title</th>
        <th scope="col" onclick="sortTable(2, 'leaderboard')" class="sortable">
          Username
        </th>
        <th scope="col" onclick="sortTable(3, 'leaderboard')" class="sortable">
          Rating
        </th>
        <th scope="col" onclick="sortTable(4, 'leaderboard')" class="sortable">
          Runs Completed
        </th>
        <th scope="col" onclick="sortTable(5, 'leaderboard')" class="sortable">
          Discord
        </th>
        <th scope="col">Profile</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < players.length; i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td>
          <img
            src="/assets/img/<%= players[i].avatar %>"
            class="rounded-circle player-img"
            alt=""
          />
        </td>
        <td><%= players[i].username %></td>
        <td><%= players[i].rating %></td>
        <td>
          <a href="/<%= players[i].username %>/runs"
            ><%= players[i].runs_completed %></a
          >
        </td>
        <td><%= players[i].discord %></td>
        <% if(players[i].link){ %>
        <td><a href="/profile/<%= players[i].username %>">View <%= players[i].username %>'s profile</a></td>
        <% } else {%>
        <td>No Link</td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>
</div>
