<div class="table-wrapper">
  <table
    class="table table-hover table-dark table-striped"
    id="title-info-table"
  >
    <thead class="thead-info">
      <tr>
        <th
          scope="col"
          onclick="sortTable(0, 'title-info-table')"
          class="sortable"
        >
          Title
        </th>
        <th
          scope="col"
          onclick="sortTable(1, 'title-info-table')"
          class="sortable"
        >
          Badge
        </th>
        <th
          scope="col"
          onclick="sortTable(2, 'title-info-table')"
          class="sortable"
        >
          Minimum Rating
        </th>
        <th
          scope="col"
          onclick="sortTable(3, 'title-info-table')"
          class="sortable"
        >
          Bronze Challenges Required
        </th>
        <th
          scope="col"
          onclick="sortTable(4, 'title-info-table')"
          class="sortable"
        >
          Silver Challenges Required
        </th>
        <th
          scope="col"
          onclick="sortTable(5, 'title-info-table')"
          class="sortable"
        >
          Gold Challenges Required
        </th>
        <% if(player) { %>
        <th
          scope="col"
        >
          Actions
        </th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for(let title in titles){ %>
      <tr>
        <td><%= titles[title].name %></td>
        <td><span class="badge badge-<%= titles[title].color %>"><%= titles[title].abbreviation %></span></td>
        <td
          <% if(player){ %>
            <% if(playerRating >= titles[title].rating_floor){ %>
              class="text-success"
            <% } else { %>
              class="text-danger"
            <% } %>
          <% } %>
        >
          <% if(player){ %>
            <%= playerRating %>/<%= titles[title].rating_floor %>
          <% } else {%>
            <%= titles[title].rating_floor %>
          <% } %>
        </td>
        <td 
          <% if(player){ %>
            <% if(challengeCounts['Bronze'] >= titles[title].min_bronze_challenges){ %>
              class="text-success"
            <% } else { %>
              class="text-danger"
            <% } %>
          <% } %>
        >
          <% if(player){ %>
            <%= challengeCounts['Bronze'] %>/<%= titles[title].min_bronze_challenges %>
          <% } else {%>
            <%= titles[title].min_bronze_challenges %>
          <% } %>
        </td>
        <td
          <% if(player){ %>
            <% if(challengeCounts['Silver'] >= titles[title].min_silver_challenges){ %>
              class="text-success"
            <% } else { %>
              class="text-danger"
            <% } %>
          <% } %>
        >
          <% if(player){ %>
            <%= challengeCounts['Silver'] %>/<%= titles[title].min_silver_challenges %>
          <% } else {%>
            <%= titles[title].min_silver_challenges %>
          <% } %>
        </td>
        <td
          <% if(player){ %>
            <% if(challengeCounts['Gold'] >= titles[title].min_gold_challenges){ %>
              class="text-success"
            <% } else { %>
              class="text-danger"
            <% } %>
          <% } %>
        >
          <% if(player){ %>
            <%= challengeCounts['Gold'] %>/<%= titles[title].min_gold_challenges %>
          <% } else {%>
            <%= titles[title].min_gold_challenges %>
          <% } %>
        </td>
        <% if(player) { %>
        <td>
          <% if(challengeCounts['Bronze'] >= titles[title].min_bronze_challenges && challengeCounts['Silver'] >= titles[title].min_silver_challenges && challengeCounts['Gold'] >= titles[title].min_gold_challenges && playerRating >= titles[title].rating_floor){ %>
            <a href="/add-title/<%= titles[title].title_id %>" rel="noopener" class="btn btn-sm btn-success">Apply</a>
          <% } %>
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>